
.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-top: 40px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('./components/dislikedMenuSection/bg.png');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}